@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Prompt:ital,wght@0,100;0,400;0,600;1,100&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Prompt', 'Noto Sans Thai', -apple-system, sans-serif;
  --font-mono: 'Prompt', 'Noto Sans Thai', monospace;

  --color-lime-50: #fbfde8;
  --color-lime-100: #f5fbb3;
  --color-lime-200: #eef87e;
  --color-lime-300: #ddf34c;
  --color-lime-400: #c8f031;
  --color-lime-500: #a9d316;
  --color-lime-600: #84a70e;
  --color-lime-700: #647f11;
  --color-lime-800: #4f6413;
  --color-lime-900: #435514;
  --color-lime-950: #232f06;

  --animate-shimmer: shimmer 8s ease-in-out infinite alternate;

  @keyframes shimmer {
    0% {
      background-position: 0% center;
    }

    100% {
      background-position: 200% center;
    }
  }
}

html,
body {
  font-family: var(--font-sans);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
  --ui-border: var(--ui-color-neutral-900);
}

/* 
.nexum-shell {
  background:
    linear-gradient(120deg, rgb(250 252 255 / 100%) 0%, rgb(244 248 254 / 100%) 55%, rgb(240 245 253 / 100%) 100%),
    radial-gradient(circle at 100% 0%, rgb(176 201 231 / 35%) 0%, transparent 42%);
  box-shadow: 0 24px 56px rgb(15 53 90 / 12%);
}

.nexum-service-card {
  background:
    linear-gradient(148deg, #045f95 0%, #07679f 43%, #2978ab 70%, #4f96c1 100%);
  position: relative;
  overflow: hidden;
}

.nexum-service-card::before,
.nexum-service-card::after {
  content: '';
  position: absolute;
  inset: auto;
  pointer-events: none;
}

.nexum-service-card::before {
  top: -34%;
  right: -16%;
  width: 72%;
  height: 170%;
  background: linear-gradient(180deg, rgb(255 255 255 / 16%), rgb(255 255 255 / 0%));
  transform: rotate(30deg);
}

.nexum-service-card::after {
  bottom: -38%;
  left: -30%;
  width: 84%;
  height: 84%;
  border-radius: 9999px;
  background: radial-gradient(circle, rgb(255 255 255 / 22%) 0%, rgb(255 255 255 / 0%) 66%);
} */